<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spentas.javad.securechat"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
      android:minSdkVersion="14"
        android:targetSdkVersion="23"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.spentas.javad.securechat.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >

        <activity android:name=".SplashActivity" android:theme="@style/AppTheme.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

      <activity android:name=".LoginActivity" android:windowSoftInputMode="stateHidden"
          android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".MainActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <meta-data
        android:name="android.app.default_searchable"
        android:value=".SearchResultsActivity" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".RegistrationActivity" android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".fragment.ConversationFragment" android:windowSoftInputMode="stateHidden" android:theme="@style/AppTheme"></activity>


    </application>

</manifest>
